
:root{
  --primarytextcolor: #232e35;
  --secondarytextcolor:#656d72;
  
  --bordercolor:#fff;
  --linecolor:#d9d9d9;
  
  --primarybacgroundcolor:#fff;
  --secondarybacgroundcolor:#fbfbfb;
  --thirdbacgroundcolor:#f5f3fe;
  
  --primaryiconcolor:#7e74f1;
  --primarysecondcolorhover:#5d51e8;
  
  --sectionpadding:6rem 0;
  
  --itemborderradius:0.7rem;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "roboto", Sans-Serif;
}
h1,h2,h3,h4,h5,h6, strong{
  color: var(--primarytextcolor);
}
p{
  font-size: 1rem;
  line-height: 1.9rem;
}
p,span,label,input,textarea,li{
  color: var(--secondarytextcolor);
}

a{
  text-decoration: none;
}

.main-countainer{
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width:1200px){
  .main-countainer{
    width: 90%;
  }
}

/* button */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--bordercolor);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:hover{
  box-shadow: rgba(0,0,0,0.04) 0px 3px 5px;
}

/* title */

.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: var(--secondarytextcolor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: .9rem;
}

.pre-title::before{
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  background: var(--linecolor);
  display: block;
  left: 0;
  top: 50%;
}

/* layout */
.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px 1fr));
  gap: 3rem;
}


/* logo dan nav-mneu */
.nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a{
  color: var(--primarytextcolor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a{
  color: var(--primarytextcolor);
}

/* burger */
.burger div{
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all .3;
  z-index: 99;
}
.burger{
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px ;
}

/* hero section */

#hero{
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name{
  font-size: 3rem;
  font-weight: 700;
  margin: .5rem 0 1rem;
}
.hero-name span{
  color: var(--primaryiconcolor);
  
}

.hero-right img {
  width:90%;
}

.hero-right{
  display: flex;
  justify-content: center;
}

/* service section */

#services{
  background-color:var(--secondarybacgroundcolor);
  padding: var(--sectionpadding);
}

.services .pre-title{
  margin: 0 auto;
}

.services-title{
  text-align: center;
}

.service{
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primarybacgroundcolor);
  border-radius: var(--itemborderradius);
}

.service h4{
  margin: 1.5rem  0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon{
  background: var(--thirdbacgroundcolor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg{
  fill: var(--primaryiconcolor);
}

/* portfolio section */

#portfolios{
  padding: var(--sectionpadding);
}

.portfolio{
  border-radius: var(--itemborderradius);
  overflow: hidden;
  border: 1px solid var(--bordercolor);
}

.portfolio-cover{
  height: 250px;
}

.portfolio-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info{
  padding:2rem 1.5rem ;
}

.portfolio-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4{
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover{
  fill: var(--primaryiconcolor);
}

.portfolio-title a svg{
  transition: .2 ease-in-out;
}

.portfolio-tags{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div{
  font-size: .9rem;
  border: 1px solid var(--bordercolor);
  padding: .4rem 1rem;
  color: var(--secondarytextcolor);
}

/* skills & education */
#skills{
  padding: var(--sectionpadding);
  background: var(--secondarybacgroundcolor);
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  gap: 3rem;
}

.education{
  display: flex;
  gap: 2rem;
}

.education .line{
  padding: 0 0.7rem;
}

.education .line div{
  width: 2px;
  height: 100%;
  background: var(--bordercolor);
  position: relative;
}

.education-info p{
  margin: .6rem 0 1.4rem;
}

.education-years{
  margin-bottom: 3rem;
}

.education .line div:before{
  content: "";
  width: 15px;
  height: 15px;
  background: var(--bordercolor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul{
  line-height: 2rem;
  padding: 0 1rem;
}

/* contack */
#contack{
  padding: var(--sectionpadding);
  
}

.contack{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contack-form div{
  margin-bottom: 1.4rem;
}

.contack-form input, .contack-form textarea{
  width: 100%;
  padding: .75rem 1.3rem;
  font-family:"roboto", Sans-Serif;
  background:var(--secondarybacgroundcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
  resize: none;
}

.contack-form input::placeholder, .contack-form textarea::placeholder{
  color: #9d9fa1;
}

.contack-form input:focus,
.contack-form textarea:focus{
  outline: none;
  color: #7d7d7d;
}

.btn-submit{
  width: 100%;
  padding: .75rem 1.3rem;
  background-color: var(--primaryiconcolor);
  color: white;
  border: none;
  border-radius: 3px ;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn-submit:hover{
  background: var(--primarysecondcolorhover);
}

.contack-item{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contack-item-icon{
  background:var(--thirdbacgroundcolor) ;
  width:53px;
  height:53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contack-item-icon svg{
  fill: var(--primaryiconcolor);
}

.contack-item-detail h4{
  margin-bottom:.6rem ;
}

/* footer */

footer{
  padding: 4rem 0;
  background: var(--secondarybacgroundcolor);
  text-align: center;
  
}

.footer-icons{
  margin-bottom: 1rem;
}

.footer-icons a{
  margin: 0 .5rem;
}

.footer-icons svg{
  fill: #3e3f40;
}

.footer-icons:hover svg{
  fill: #000;
}